/* .sbd-container {
  padding: 20px;
  background-color: #ededed;
}

.sbd-page-content-title {
  font-weight: 600;
  font-size: 28px !important;
  line-height: 33px !important;
}

.sbd-layout-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 60px 40px 20px 40px;
 
} */

.sbd-container {
    margin: 0;
    padding: 0;
}

.sbd-container-footer {
    width: 100%;
    position: absolute;
    bottom: 0;
}

.sbd-container-header {
    width: 100%;
    position: absolute;
    top: 0;
}