/* .sbd-container {
  padding: 20px;
  background-color: #ededed;
}

.sbd-page-content-title {
  font-weight: 600;
  font-size: 28px !important;
  line-height: 33px !important;
}

.sbd-layout-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 60px 40px 20px 40px;
 
} */

.sbd-container {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.sbd-container-footer {
  width: 100%;
}

.sbd-container-content {
  width: 100%;
  height: 100%;
  background-color: #ededed;
  flex: auto;
}

.sbd-container-header {
  width: 100%;
}
