::-webkit-scrollbar {
  width: 5px;
}

/* Track */

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: black;
}

.Primary-container-style {
  background-color: white;
  margin: 1% 0;
  min-height: 66vh;
  padding: 20px;
  width: 70% !important;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.31);
}

.searchPackageContainerStyle {
  background-color: white;
  margin: 1% 0;
  min-height: 66vh;
  padding: 20px;
  width: 70% !important;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.31);
}

.CardFlipContainer {
  width: 87%;
}

.addPackagesContainer {
  background-color: white;
  margin: 1% 0;
  padding: 20px;
  width: 70% !important;
  height: 100%;
  min-height: 60vh;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.31);
}

.mobile-width-full {
  width: 30%;
}

@media screen and (max-width: 1280px) {
  .Primary-container-style {
    width: 80% !important;
  }
}

@media (max-width: 480px) {
  .ButtonTextSize {
    font-size: 13px !important;
  }
  .AlignCenter {
    display: flex;
    justify-content: center;
  }
  .CardFlipContainer {
    width: 87%;
  }
  .searchPackageContainerStyle {
    width: 100% !important;
  }
}

@media screen and (max-width: 992px) {
  .Primary-container-style {
    width: 95% !important;
  }
}

@media screen and (max-width: 961px) {
  .hide-on-mobile {
    display: none !important;
  }
  .textSizeResponsive {
    font-size: small !important;
  }
}

@media screen and (max-width: 630px) {
  .mobile-width-full {
    width: 100%;
  }
  .searchPackageContainerStyle {
    width: 100% !important;
  }
  .textSizeResponsive {
    font-size: x-small !important;
  }
}

@media screen and (min-width: 962px) {
  .hide-on-desktop {
    display: none !important;
  }
}

.Primary-color {
  color: #00b4d8 !important;
}

.Secondary-color {
  color: grey !important;
}

.Green-carro {
  color: #34d02d;
}

.Pink-carro {
  color: #f50057;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
